





.image-bg {
    width: 193px;
    height: 200px;
    background-image: url('Messi.png');
    background-size: cover;
}

.finger-point {
    width: 200px;
    height: 200px;
    background-image: url('loveyou.png');
    background-size: cover;
}








.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

    .container {
      margin: 0 auto;
    }
    
    
.text-date {
	position: absolute;
    bottom: 60;    
    padding: 8px;
    font-size: 18px;
    color: #ffffff;
}

.text-name {
	position: absolute;
    bottom: 0;    
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

        .text-name {
            font-size: 3rem;
            transition: .3s all ease;
            letter-spacing: 8px;
            text-shadow: #E56F03 0 0,
                #00ffff 0 0;
        }

        .text-name:hover {
            text-shadow:
                #ff0000 -5px 0,
                #00ffff 5px 0;
        }
        .text-name {
            text-shadow:
                #8A080B -5px 0,
                #005862 5px 0;
        }
               
        
        
        .text-date{
            font-size: 3rem;
            transition: .3s all ease;
            letter-spacing: 8px;
            text-shadow: #E56F03 0 0,
                #00ffff 0 0;
        }

        .text-date:hover {
            text-shadow:
                #ff0000 -5px 0,
                #00ffff 5px 0;
        }        
        .text-date {
            text-shadow:
                #8A080B -5px 0,
                #005862 5px 0;
        }          







   
body {    
	width:100%;
	min-height:100%;
	margin:0;
	background:var(--back-gif) center;
	background-size:cover;
	display:flex;
	}